<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 全站依赖的CSS文件包开始 -->
    <link rel="stylesheet" href="./static/bootstrap341/css/bootstrap.css">
    <link rel="stylesheet" href="./static/bootstrap341/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./static/selfcssjs/css/index.css">
    <!-- 全站依赖的CSS文件包结束 -->
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <title>交点科技首页</title>
<style>
    #jd_footer{
        background-image:url(../static/img/jd-link/ftimg.png)
    }
</style>
</head>

<body>
    <section id="jd_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <ul class="col-md-6">
                            <li><a href="">关于我们</a></li>
                            <li><a href="">照明灯具</a></li>
                            <li><a href="">配电柜</a></li>
                            <li><a href="">广场高杆灯</a></li>
                        </ul>
                        <ul class="col-md-6">
                            <li><a href="">用电监测系统</a></li>
                            <li><a href="">智能控制系统</a></li>
                            <li><a href="">光伏发电系统</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>公司地址：河北省秦皇岛市海港区金湾环路4-2-303</p>
                    <p>业务邮箱：market@jeodoen.cn</p>
                    <p>业务电话：+86-335-158-3335-2761</p>
                </div>
                <div class="col-md-4">
                    <h5>关注我们</h5>
                    <a href="">
                        <img src="./static/img/jd-link/weixin.png" alt="" width="50px" height="50px">
                    </a>
                    <a href="">
                        <img src="./static/img/jd-link/weibo.png" alt="" width="100px">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <a href="{% url 'index'%}">点此返回</a>

    <!-- 全站依赖的JS文件包开始 -->
    <script type="text/javascript" src="./static/jquery360/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="./static/bootstrap341/js/bootstrap.js"></script>
    <script type="text/javascript" src="./static/selfcssjs/js/index.js"></script>
    <!-- 全站依赖的JS文件包结束 -->

</body>

</html>